{
  "env": {
    "node": true,
    "es6": true
  },
  "ecmaFeatures": {
    "modules": true,
    "decorators": true
  },
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "rules": {
    // Ignore Rules
    "strict": 1,
    "no-underscore-dangle": 0,
    "no-mixed-requires": 0,
    "no-process-exit": 0,
    "no-warning-comments": 0,
    "curly": 0,
    "no-multi-spaces": 1,
    "no-alert": 0,

    // Warnings
    "no-debugger": 1,
    "no-empty": 1,
    "no-invalid-regexp": 1,
    "no-unused-expressions": [1, { "allowShortCircuit": true, "allowTernary": false }],
    "no-native-reassign": 1,
    "no-fallthrough": 1,
    "object-curly-spacing": [1, "always"],
    "key-spacing": [2, {"beforeColon": false, "afterColon": true}],

    // Errors
    "semi": 2,
    "no-console": 2,
    "no-undef": 2,
    "no-dupe-keys": 2,
    "no-empty-character-class": 2,
    "no-self-compare": 2,
    "valid-typeof": 2,
    "no-unused-vars": 1,
    "handle-callback-err": 2,
    "no-shadow-restricted-names": 2,
    "no-new-require": 2,
    "no-mixed-spaces-and-tabs": 2,

    // stylistic errors
    "new-cap": 2,
    "no-spaced-func": 2,
    "semi-spacing": 2,
    "quotes": [2, "single"],
  },
  "globals": {
    "require": true,
  }
}
