*~
*.swp
npm-debug.log
node_modules
core
.eslintcache
.yarn-error.log
.npmrc

src/**/*.yml

gulp
gulpfile.js
.gulp.json
nodemon.json
nodemon.debug.json
examples
.editorconfig
.eslintrc.yml
.prettierrc.yml
.release-it.json
