*~
*.swp
npm-debug.log
node_modules
core
!core/
.eslintcache
.npmrc
.yarn-error.log

gulp
gulpfile.js
nodemon.json
nodemon.debug.json
.release-it.json
examples
docs/**/*.png
.nvmrc
.eslintrc.yml
.editorconfig
.prettierrc.yml

src/**/*.yml
